<?xml version="1.0"?>
<ruleset name="wpcom-migration-php56-build">
	<description>PSR-12 for the build tool copied from reprint/tools/php56-build. Fixtures are deliberately odd and are not checked.</description>

	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg value="ps"/>

	<file>rector.php</file>
	<file>src</file>
	<file>tests/run.php</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="PSR12">
		<exclude name="Generic.Files.LineLength"/>
	</rule>

	<rule ref="PSR1.Files.SideEffects">
		<exclude-pattern>*/tests/run.php</exclude-pattern>
	</rule>
</ruleset>
