@font-face {
	font-family: 'Recoleta';
	src: url('../fonts/recoleta-regular-webfont.woff2') format('woff2'),
	url('../fonts/recoleta-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
